@{
    ViewData["Title"] = "Order List";
    Layout = "../Shared/admin_layout.cshtml";
}


<script>
    $(document).ready(function () {
        $("#orderManagement").addClass("active");
        $("#shipping_list").addClass("active");
        $("#orderManagement_block").css("display", "block");
    });

</script>


<!-- page content -->
<div class="right_col" role="main" style='min-height: 600px !important'>
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <p>Order List</p>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <p style='font-size:16px;font-weight:bold'>Shipped Aircrafts</p>
                    </div>

                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <p class="text-muted font-13 m-b-30">
                                        List of Aircrafts that are being delivered.
                                    </p>
                                    <table id="datatable" class="table table-striped" style="width:100%;border-collapse: collapse !important;">
                                        <thead style="background-color: #006666;color:white">
                                            <tr>
                                                <th>ID</th>
                                                <th>Aircraft</th>
                                                <th>Customer</th>
                                                <th>Contact</th>
                                                <th>Email</th>
                                                <th>Address</th>
                                                <th>Shipment Status</th>
                                            </tr>
                                        </thead>


                                        <tbody>
                                            @if (Model != null && Model.Count > 0)
                                            {
                                            @foreach (var orderProcess in Model)
                                            {
                                            <tr>
                                                    <td>@orderProcess.OrderId</td>
                                                    <td>@orderProcess.Aircraft.ModelName</td>
                                                    <td><b>@orderProcess.Customer.FullName </b></td>
                                                    <td> @orderProcess.Customer.Contact<br>@orderProcess.Customer.Country</td>
                                                    <td><b>@orderProcess.Customer.Email </b>y</td>
                                                    <td>
                                                        @orderProcess.Customer.Address, <br>@orderProcess.Customer.City<br> 11758
                                                </td>
                                                <td>
                                                        <a asp-controller="" asp-action="" asp-route-id="@orderProcess.OrderId">
                                                        @if (orderProcess.OrderStatus == "Dispatched")
                                                        {
                                                            <span class="badge badge-primary" style="padding:4px">Dispatched</span>
                                                        }
                                                        else if (orderProcess.OrderStatus == "Shipped")
                                                        {
                                                            <span class="badge badge-default" style="padding:4px">Shipped</span>
                                                        }
                                                        else if (orderProcess.OrderStatus == "Local Country")
                                                        {
                                                            <span class="badge badge-success" style="padding:4px">Local Country</span>
                                                        }else{

                                                        }
                                                        </a>
                                                    </td>
                                            </tr>
                                            }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>
<!-- /page content -->
